 <div id="side-wrap">
     <% if current_user.profile != nil %>
        <aside id="your-profile" class="side-item">
            <div class="cover">
                
                <% if  current_user.profile.echo_main_cover %>
                <%= image_tag current_user.profile.echo_main_cover.url(:medium),:class => 'cover-img'%>
                <% else %>
                <img src=" https://dummyimage.com/260x110/cccccc/777.png" class="cover-img">
                <% end %>
            </div>
            <div class="your-info clearfix">
                 <div class="user_icon">
                    <% if  current_user.profile.echo_user_icon %>
                    <%= image_tag current_user.profile.echo_user_icon.url(:square),:width =>60,:height=>60%>
                    <% else %>
                    <img src=" https://dummyimage.com/60x60/cccccc/777.png">
                    <% end %>
                </div>                 
                 <div class="your-name">
                    <p class="display_name">
                        <%= current_user.profile.display_name %><br>
                        <small class="email">
                             <%= current_user.email %>
                        </small>
                    </p>
                </div>
            </div>
     

    
</aside>
<% end %>
</div>